<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Client Page</title>
	<link rel="stylesheet" href="css/bulma.css">
	<link rel="stylesheet" href="css/client.css">
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>
<body>
	<header class="hero-body">
		<h1 class="has-text-centered">Wedj</h1>
	</header>
	<div id="app" class="container has-text-centered">
		<p id="add_song" class="control has-addons">
			<input v-model="trackName" v-on:keyup.enter="addTrack" class="input is-expanded" type="text" placeholder="Request a track">
			<input v-model="artistName" v-on:keyup.enter="addTrack" class="input is-expanded" type="text" placeholder="Artist">
			<a class="button is-info" type="button" v-on:click="addTrack">
				Add
			</a>
		</p>
		<h1>Track List</h1>
		<table class="table">
			<tbody>
				<tr v-for="track in tracks">
					<td>{{track.name}}</td>
					<td>{{track.votes}}</td>
				</tr>
			</tbody>
		</table>

		<script src="js/vue.js"></script>
		<script src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/client.js"></script>
	</body>
	</html>